@import "../../sass/variables.scss";
@import "../../sass/global.scss";

.connect-wallet-page {
  background: $body-background;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  justify-content: center;
  box-sizing: border-box;
  position: relative;

  .title-text {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .primary-button {
    margin-top: 30px;
  }

  .countdown {
    margin-top: 30px;

    .body-text:last-child {
      color: $gradient;
    }
  }

  .body-text {
    font-size: 17px;
    max-width: 850px;
  }

  .bottom-note {
    position: absolute;
    bottom: 35px;

    .body-text {
      a {
        @include gradient-text();
        // text-decoration: underline;
      }
    }
  }

  .wallet-options-modal {
    .modal-content {
      padding: 20px 20px 30px;
      width: 300px;
    }

    .wallet-options-container {
      width: 100%;

      .title-text {
        margin-bottom: 10px;
        text-align: center;
        margin-top: 10px;
        font-size: 24px;
        line-height: 30px;
      }

      .line {
        margin-bottom: 20px;
        background-color: $dark-brown;
        height: 1px;
        opacity: 0.3;
      }

      .wallet-option {
        background: $body-background;
        margin-bottom: 25px;
        cursor: pointer;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border: 0.5px solid #df892600;
        transition: all 0.3s;

        &:last-child {
          margin-bottom: 0;
        }

        .body-text {
          font-size: 17px;
        }

        img {
          height: 30px;
          width: auto;
        }

        &:hover {
          border: 1px solid #df8a26;
        }
      }
    }
  }
}
